# Dictionary

 The dictionary or dict may be the most important built-in Python data structure.
 In other programming languages, dictionaries are sometimes called hash maps or
 associative arrays.

In [4]:
empty_dict = {}
d1 = {"a": "Some Value","b":[1,3,23,4,6,5]}
d1

{'a': 'Some Value', 'b': [1, 3, 23, 4, 6, 5]}

 You can access, insert, or set elements using the same syntax as for accessing elements
 of a list or tuple:

In [6]:
d1[7]="An integar"
d1

{'a': 'Some Value', 'b': [1, 3, 23, 4, 6, 5], 7: 'An integar'}

In [7]:
d1["b"]

[1, 3, 23, 4, 6, 5]

check :

In [8]:
"b" in d1

True

You can delete values using either the del keyword or the pop method

In [17]:
d1[5] ="some value"
d1

{'a': 'Some Value',
 'b': [1, 3, 23, 4, 6, 5],
 7: 'An integar',
 'dummy': 'Another Value',
 5: 'some value'}

In [13]:
d1["dummy"] = "Another Value"
d1

{'a': 'Some Value',
 'b': [1, 3, 23, 4, 6, 5],
 7: 'An integar',
 5: 'some value',
 'dummy': 'Another Value'}

In [18]:
del d1[5]
d1

{'a': 'Some Value',
 'b': [1, 3, 23, 4, 6, 5],
 7: 'An integar',
 'dummy': 'Another Value'}

In [19]:
ret = d1.pop("dummy")
ret

'Another Value'

In [20]:
d1

{'a': 'Some Value', 'b': [1, 3, 23, 4, 6, 5], 7: 'An integar'}

order of the kays

In [21]:
list(d1.keys())

['a', 'b', 7]

In [23]:
list(d1.values())

['Some Value', [1, 3, 23, 4, 6, 5], 'An integar']

The items method to
 iterate over the keys and values as 2-tuples:

In [24]:
list(d1.items())

[('a', 'Some Value'), ('b', [1, 3, 23, 4, 6, 5]), (7, 'An integar')]

 You can merge one dictionary into another using the update method:

In [26]:
d1.update({"b":"foot","c":12})
d1

{'a': 'Some Value', 'b': 'foot', 7: 'An integar', 'c': 12}

Note: The update method changes dictionaries in place, so any existing keys in the data
 passed to update will have their old values discarded.

### Default Values

In [28]:
words = ["apple", "bat", "bar", "atom", "book"]

by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

### Valid dictionary key types

While the values of a dictionary can be any Python object, the keys generally have to
 be immutable objects like scalar types (int, float, string) or tuples (all the objects in
 the tuple need to be immutable, too). The technical term here is **hashability**
 . You can
 check whether an object is hashable (can be used as a key in a dictionary) with the
 hash function:

In [30]:
hash("string")

-6045584556083493016

In [32]:
hash((1,2,3,(11)))

7543882941688604266

In [33]:
hash((1,2,[1,2]))

TypeError: unhashable type: 'list'

 fails because lists are mutable

To use a list as a key, one option is to convert it to a tuple

In [39]:
d = {}

d[tuple([1,2,3])] = 5
d

{(1, 2, 3): 5}